.login-link {
    margin: 1em !important;
}
button.login-sbmt-btn {
    margin: 1em auto;
    display: flex;
}
.todo-card {
    margin: 1em !important;
}
.todo-card-container {
    display: flex;
    justify-content: space-between;
}
.todo-dragndrop-container {
    display: flex;
    min-width: 50%;
    max-width: 70%;
    justify-content: space-between;
    padding: 1em;
    margin: 1em auto;
}
.todo-dragndrop-column {
    display: block;
    width: 50%;
    padding: 1em;
    border-left: 1px solid black;
    min-height: 50vh;
}